*{
    margin: 0;
    padding: 0;
    
   
}
body{
    text-align: center;
}
h1{
    text-align: center;
    background-color:#03071e;
    color: #edf2f4;
    height: 5rem;
    line-height: 5rem;

}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
   cursor: pointer;
    background-color: #03071e;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius:100%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem; /* Adds space between scores */
    margin-top: 3rem; /* Places the scoreboard below the images */
    font-size: 2rem;
    color: #03071e;    
}

.score {
    text-align: center;
}
.msg-container{
    margin-top: 2rem;
}

#msg {
    text-align: center;
    margin-top: 1.5rem; /* Adds space below the scoreboard */
    font-size: 2rem;
    display: inline;
    background-color: #03071e;
    color: #edf2f4;
    border-radius: 1rem;
    padding: 1rem;
}
